header{
    position: relative;
    z-index: 10;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
        @include down(sm){
            padding-top: 1rem;
            
        }
    }
    
    &__logo{
        width: 6.94rem ;
    } 
}